/* DEVELOPER:Justin Cordova, IS117-003, Fall 2024 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Cabin&display=swap");

body {
  background-color: #1a1b26;
  font-family: "Cabin", sans-serif;
}

/* Mac Controls Styling */
#mac-controls {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.mac-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.red-circle {
  background-color: #ff5f57;
}

.yellow-circle {
  background-color: #ffbd2e;
}

.green-circle {
  background-color: #28c840;
}

.mac-circle:hover {
  opacity: 0.8;
}

/* Navbar Styling */
.navbar-brand {
  color: #9aa5ce !important;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  margin-top: -5px;
  margin-left: 100px;
}
.nav-link {
  color: #9aa5ce !important;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
}

/* Footer Styling */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1f2f;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}

.gallery {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  background-color: #1a1b26;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.btn-container {
  position: relative;
  width: 80%;
}

.btn {
  position: absolute;
  bottom: -80px;
  background-color: slateblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.5);
}

#prev {
  left: 20%;
}

#next {
  right: 20%;
}